header { 
    
    font-family: 'EB Garamond', serif;
                                      
                                 
}

h1{
    font-family: 'EB Garamond', serif; 
    font-size: 30px;                                 
    color:rgb(255, 255, 255);
    margin-left: 35%;                                                       
    margin-right: 30%;
    margin-top: 1%; 
    padding: 6px;                          
    
    


}

h2 {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    margin-left: 45%;                                                       
    margin-right: 30%;
    margin-top: 1%; 
    padding: 6px;
    line-height: 53px;
    color:rgb(255, 255, 255); 

}

#ingredientes {
    display:inline-block;
    width: 370px;
    margin-right: 18%;
    margin-left: 2%;
    font-family: 'EB Garamond', serif;                                   
    color:rgb(255, 254, 254);                                                        
    flex-direction: row;
    line-height: 53px;                              
    /*margin: 30px;*/
    
    

}

#preparos {
    width: 900px;
    margin-right: 10%;
    margin-left: 2% ;
    font-family: 'EB Garamond', serif;
    color:rgb(255, 254, 254);
    flex-direction: row;
    padding:6px;
    line-height: 53px; 
    

}
li {
    font-size: 20px;
}

h3 {

    font-family: 'EB Garamond', serif;
    font-size: 30px;                                 
    color:rgb(255, 254, 254);
    margin-left: 42%;                                                       
    margin-right: 30%;
    margin-top: 1%; 
    padding: 6px;
    margin-top: 10px;
    justify-content: center;


}



#macarrao{
  margin-left: 28%;    
}
body {

    background: rgb(67, 93, 163)
    
    
}

